.text {
    min-height: 100px;
    max-height: 100%;
    text-align: justify;
}

.blue {
    height: 250px;
    width: 250px;
    background-color: blue;
    border: 1px solid black;
    margin: 10px;
    z-index: 5;
    position: relative;
    float: left;

}

.white {
    height: 250px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    position: relative;
    z-index: 3;
    float: right;
}



.green {
    height: 250px;
    width: 250px;
    background-color: green;
    border: 1px solid black;
    margin: 10px;
    position: relative;
    z-index: 10;
    float: right;
    right: -11px;
    top: 294px;
   
}

.start {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: blue;
    position: fixed;
    text-align: center;
    bottom: 100px;
    right: 50px;
    z-index: 15;
}

a {
    text-decoration: none;
    color: white;
    line-height: 3.5;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px black;
}